@media (max-width: 767px){     
    :root {
        --font_size_title: 28px;
        --font_size: 16px;
    } 
    .header_contacts-popup {
        display: none;
    }
    .header_logo {
        width: 102px;
        flex-shrink: 0;
    }
    .header_logo img {
        width: 100%;
    }
    .header_logo a {
        margin-right: 0px;
    }
    .header {
        padding: 24px 0 13px;
    }
    .step_items {
        margin-left: 0;
    }
    .step_items > * {
        width: 100%;
        margin-left: 0;
    }
    .callback_form .line {
        flex-direction: column;
    }
    .callback_form .line .field {
        margin-right: 0px;
        margin-bottom: 16px;
        max-width: 100%;
    }
    .callback_form .line .submit_btn {
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .callback_form .line .submit_btn img {
        display: none;
    }
    .characteristic_item-value {
        font-size: var(--font_size);
        line-height: 22px;
        width: 60%;
        text-align: right;
    }
   
   
    
    
    
}

    


















